psycopg2-binary
schedule
flask
flask_cors
flask_migrate
python-dotenv
nltk
flask_mailman
redis
flask_jwt_extended
pandas
apscheduler
dash
setuptools
dash_bootstrap_components
dash_ag_grid
networkx
wordcloud
scipy